<section class="banners my-5 wow bounceInUp">
    <div class="container">
        <div class="container my-container">
            <div class="your-class">
                <div class="position-relative slide1">
                    <div class="info w-75 position-absolute top-50 start-50 translate-middle">
                        <h2 class="fw-bold fs-1">Скидки на травянные чаи</h2>
                        <p class="my-1 my-md-5 ">Узай все подробности, заполнив заявку</p>
                        <button type="button" class="btn btn-primary px-sm-5 mt-3">Заполнить</button>
                    </div>
                    <img src="assets/banners/banner1.png" style="width: 100%;">
                </div>
                <!-- <div class="position-relative slide2">
                    <div class="info w-75 position-absolute top-50 start-50 translate-middle">
                        <h2 class="fw-bold fs-1 mb-1 mb-md-5">Закажи три пачки чая и получи подарок</h2>
                        <button type="button" class="btn btn-primary px-sm-5 mt-3">Заполнить</button>
                    </div>
                    <img src="assets/banners/banner2.png" style="width: 100%;" alt="">
                </div>
                <div class="position-relative slide3">
                    <div class="info w-75 position-absolute top-50 start-50 translate-middle">
                        <h2 class="fw-bold fs-1 mb-1 mb-md-5" style="width: 60%;">Попробуй нашу новинку — ягодный чай</h2>
                        <button type="button" class="btn btn-primary px-sm-5 mt-3">Заполнить</button>
                    </div>
                    <img src="assets/banners/banner3.png" style="width: 100%;" alt="">
                </div> -->
            </div>
        </div>
    </div>
</section>
    
<div class="accordion" id="accordionExample">
    <div class="container">
        <div class="accordion-item m-2 border-0">
            <h2 class="accordion-header">
                <button class="accordion-button bg-primary rounded text-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Собираете ли вы подарочные боксы?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
                </div>
            </div>
        </div>

        <div class="accordion-item m-2 border-0">
            <h2 class="accordion-header">
                <button class="accordion-button bg-primary rounded text-light collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                    Сколько у вас разновидностей чая?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                    this with custom CSS or overriding our default variables. It's also worth noting that just about any
                    HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>

        <div class="accordion-item m-2 border-0">
            <h2 class="accordion-header">
                <button class="accordion-button bg-primary rounded text-light collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTree" aria-expanded="true"
                    aria-controls="collapseTree">
                    В какой срок осуществляется доставка?
                </button>
            </h2>
            <div id="collapseTree" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin
                    adds the appropriate classes that we use to style each element. These classes control the overall
                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                    custom
                    CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                    within the
                    <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>

        <div class="accordion-item m-2 border-0">
            <h2 class="accordion-header">
                <button class="accordion-button bg-primary rounded text-light collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                    aria-controls="collapseFour">
                    У вас обновляется ассортимент?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin
                    adds the appropriate classes that we use to style each element. These classes control the overall
                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                    custom
                    CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                    within the
                    <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>

        <div class="accordion-item m-2 border-0">
            <h2 class="accordion-header">
                <button class="accordion-button bg-primary rounded text-light collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="true"
                    aria-controls="collapseFifth">
                    Какого объема у вас пачки чая?
                </button>
            </h2>
            <div id="collapseFifth" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin
                    adds the appropriate classes that we use to style each element. These classes control the overall
                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                    custom
                    CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                    within the
                    <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="popupContainer" *ngIf="popupStatus">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
                </div>
                <div class="modal-body text-center">
                    <p>Посмотрите наши чайные коллекции</p>
                </div>
                <div class="modal-footer border-0 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" routerLink="products">Смотреть</button>
                </div>
            </div>
        </div>
    </div>
</div>


